.root
{
    -fx-font-size: 8pt;
    -fx-font-family: "DejaVu Sans Mono";
}

.vbox
{
    -fx-background-color: #313538;

}

.anchorPane
{
}

.lblPassword
{
    -fx-text-fill: #66919a;
}

.lblKey
{
    -fx-text-fill: #66919a;
}

.cbxCompact
{
    -fx-text-fill: #66919a;
}

.cbxCompact:hover
{
    -fx-underline: true;
}

.pswPassword
{
    -fx-background-color: #272727;
    -fx-text-fill: #66919a;
    -fx-border-color: #000;
    -fx-font-family: "Noto Sans";
}

.pswPassword:hover
{
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
}

.pswPassword:focused
{
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
}

.pswKey
{
    -fx-background-color: #272727;
    -fx-text-fill: #66919a;
    -fx-border-color: #000;
    -fx-font-family: "Noto Sans";
}

.pswKey:hover
{
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
}

.pswKey:focused
{
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
}

.lblLimit
{
    -fx-text-fill: #66919a;
}

.cmbLimit
{
    -fx-background-color: #272727;
    -fx-text-fill: #66919a;
    -fx-border-color: #000;
}

.cmbLimit:hover
{
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
}

.cmbLimit:selected
{
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
}

.cmbLimit:focused
{
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
}

.cmbLimit .list-view
{
    -fx-background-color: #272727;
    -fx-text-fill: #66919a;
    -fx-border-color: black;
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
}

.cmbLimit .list-cell
{
    -fx-background-color: #272727;
    -fx-text-fill: #66919a;
}

.cmbLimit .list-cell:hover
{
    -fx-background-color: #313538;
    -fx-text-fill: #66919a;
}

.btnEncrypt
{
    -fx-background-color: #272727;
    -fx-text-fill: #66919a;
    -fx-border-color: #000;
}

.btnEncrypt:hover
{
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
    -fx-background-color: rgba(0,93,255,0.1);
}

.btnEncrypt:focused
{
    -fx-effect: dropshadow(gaussian, rgba(0,93,255,0.4), 5, 0.65, 0, 0);
}

